@inject IOptions<Models.Author> AuthorModel

<!-- Begin Top Author Page
================================================== -->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-md-offset-2">
            <div class="mainheading">
                <div class="row post-top-meta authorpage">
                    <div class="col-md-10 col-xs-12">
                        <h1>@CurrentAuthor.FullName</h1>
                        <span class="author-description">@CurrentAuthor.Biography</span>
                        <div class="sociallinks">
                            @foreach (var socialLink in CurrentAuthor.SocialLinks)
                            {
                                <a target="_blank" href="@socialLink.Value">
                                    <i class="fa fa-@socialLink.Key"></i>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <img class="author-thumb" src="@CurrentAuthor.ProfileImage" alt="Sal">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Top Author Meta
================================================== -->

@code{
    public Models.Author CurrentAuthor { get; set; }

    protected override void OnInitialized()
    {
        CurrentAuthor = AuthorModel.Value;
    }

}