@using Blog.Client.ViewModels
@inherits ComponentBase
@inject IOptions<AuthorViewModel> AuthorViewModel

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-md-offset-2">
            <div class="mainheading">
                <div class="row post-top-meta authorpage">
                    <div class="col-md-2 col-xs-12">
                        <img class="author-thumb" src="@Author.ProfileImage" alt="Sal">
                    </div>
                    <div class="col-md-10 col-xs-12">
                        <h1>@Author.FullName</h1>
                        <span class="author-description">@Author.Biography</span>
                        <div class="sociallinks">
                            @foreach (var socialLink in Author.SocialLinks)
                            {
                                <a target="_blank" href="@socialLink.Value">
                                    <i class="fa fa-@socialLink.Key"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    public AuthorViewModel? Author { get; set; }

    protected override void OnInitialized()
    {
        Author = AuthorViewModel.Value;
    }
}