@page "/"
@using Blog.Client.Services
@using Blog.Client.ViewModels
@inject PostsService PostsService

<AuthorSummary></AuthorSummary>

<div class="graybg authorpage">
    <div class="container">
        <div class="listrecent listrelated">
            @foreach (var post in Posts)
            {
                <PostSummary Post="@post"/>
            }
        </div>
    </div>
</div>

@code
{
    private List<PostViewModel> Posts { get; set; } = new List<PostViewModel>();

    protected override async Task OnInitializedAsync()
    {
        Posts = await PostsService.GetPosts();
    }
}